{% extends "main.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<br>
<a href="/add">Добавить новый пост</a>
<br>
<br> 
<div>
    <div>
        <br>{% for i in user_posts%}
            Author: {{i.post_author}}
            <br>
            Text: {{ i.article_text}}
            <br>
            Data: {{ i.post_date_created}}
            <br>
            <br>
            {% if i.image %}
                        <img src="{{ i.image.url }}">
            {% endif %}
            <br>
            <br>
        {% endfor %}
        <br>
        </div>
</div>
<br>
<button> <a href="/accounts/logout/">Выйти</a> </button>
{% endblock %}